body {
    background-image: url(images/space.jpg);
    overflow: hidden;
}
.stars {
    opacity: 1;
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
}
.control {
    position: absolute;
    font-size:20px;
    color: #fff;
    background-color: black;
}